@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

p{
    font-weight: 300;
    color: #111;
}


/*===============CONTACT FORM==================*/
.form-title {
    text-align: center;
    margin-top: 30px;
}

.formulario {
    padding: 50px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0, .3);
    max-width: 60%;
    margin: 30px auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 30px;
}

.formulario h3{
    color: #111;
    font-size: 1.3em;
    margin-bottom: 30px;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;

}

.formulario__grupo P{
    font-size: 12px;
}

.formulario__label{
	display: block;
	font-weight: 500;
	padding: 5px 0;
	cursor: pointer;
    margin-top: 50px;
	box-shadow: #000 10px vladimir [] 2px ;
    display: flex;
}

.formulario__label span{
    font-size: 12px ;
}

.formulario__grupo-input{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center ;
}

.formulario__input{
    width: 80%;
    background: #fff;
    border: 2px solid #bcbcbc;
    border-radius: 5px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}


.formulario__textarea{
    width: 80%;
    height: 150px;
    resize: none;
}

.formulario__input:focus,
.formulario__textarea:focus{
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error{
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-active{
	display: block
}

.formulario__validacion-estado{
    position: absolute;
    margin-left: -30px;
    margin-top: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__checkbox{
	margin-right: 5px;
}


.formulario__mensaje{
	text-align: center;
    height: 45px;
	background: #F66868;
	padding: 5px 15px;
    margin-bottom: 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje p,
.formulario__mensaje i{
    font-size: 12px;
    padding: 0 5px;
}

.formulario__mensaje-active{
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar{
	display: flex;
	flex-direction: column;
	align-items: center;
}


.formulario__btn{
    height: 45px;
	line-height: 45px;
	width: 45%;
	background: #e12a4c;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: .3s ease all;
}


.formulario__btn:hover{
	box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
    transform: scale3d(1.05, 1.05, 1.05);
}


.formulario__mensaje-exito{
	font-size: 12px;
	color: #119200;
    padding: 10px;
	display: none;
}

.formulario__mensaje-exito-active{
	display: block;
}

/* ESTILOS PARA VALIDACION */

.formulario__grupo-correcto .formulario__validacion-estado{
	color:#1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label{
	color:#bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado{
	color:#bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input{
	border: 3px solid #bb2929;
}


/* MEDIA QUERIES */

@media screen and (max-width: 720px) {
	.formulario {
		display: flex;
		flex-direction: column;
		max-width: 80%;
	}
}